In [0]:
%pip install geopy

Python interpreter will be restarted.
Collecting geopy
  Downloading geopy-2.3.0-py3-none-any.whl (119 kB)
Collecting geographiclib<3,>=1.52
  Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.3.0
Python interpreter will be restarted.

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, DoubleType, StringType
import pandas as pd
import numpy as np
import io
import requests
from geopy.geocoders import Nominatim

In [0]:
cities = [
    "Singapore",
    "New York",
    "Los Angeles",
    "London",
    "Sydney",
    "Toronto",
    "Moscow",
    "Tokyo",
    "Hong Kong",
    "Dubai",
    "Cape Town",
    "Rabat",
    "Rio de Janeiro",
    "Mumbai",
    "Beijing",
    "Paris",
    "Berlin",
    "Rome",
    "Seoul",
    "Bangkok",
    "Kuala Lumpur",
    "Manila",
    "Hanoi",
    "Taipei",
    "Buenos Aires",
    "Santiago",
    "Lima",
    "Bogota",
    "Mexico City",
    "Jakarta",
    "Cairo",
    "Johannesburg",
    "Nairobi",
    "Lagos",
    "Casablanca",
    "Istanbul",
    "Madrid",
    "Barcelona",
    "Athens",
    "Amsterdam",
    "Brussels",
    "Vienna",
    "Zurich",
    "Stockholm",
    "Oslo",
    "Helsinki",
    "Dublin",
    "Warsaw",
    "Prague",
    "Budapest",
]

In [0]:
url = "https://power.larc.nasa.gov/api/temporal/daily/point"
parameters = [ "T10M", "CLOUD_AMT", "QV10M", "PW", "PS", "GLOBAL_ILLUMINANCE", "WS10M", "EVLAND" ]
start = "1981"
end = "2021"
community = "ag"

In [0]:
def get_long_lat(city : str):
    geolocater = Nominatim(user_agent="MyApp")
    location = geolocater.geocode(city)
    return location.longitude, location.latitude

In [0]:
spark = SparkSession.builder.master("local[*]").appName("project").getOrCreate()

In [0]:
schema = StructType([
    StructField('YEAR', IntegerType(), True),
    StructField('DOY', IntegerType(), True),
    StructField('T10M', DoubleType(), True),
    StructField('CLOUD_AMT', DoubleType(), True),
    StructField('QV10M', DoubleType(), True),
    StructField('PW', DoubleType(), True),
    StructField('PS', DoubleType(), True),
    StructField('GLOBAL_ILLUMINANCE', DoubleType(), True),
    StructField('WS10M', DoubleType(), True),
    StructField('EVLAND', DoubleType(), True),
    StructField('latitude', DoubleType(), True),
    StructField('longitude', DoubleType(), True),
    StructField('City', StringType(), True)
])
final_sdf = spark.createDataFrame([], schema)

for city in cities:
    param_str = ",".join(parameters)
    long, lat = get_long_lat(city)
    query = f"{url}?parameters={param_str}&community={community}&longitude={long}&latitude={lat}&start={start}&end={end}&header=false&format=CSV"
    
    response = requests.get(query)
    if response.status_code == 200:
        data = pd.read_csv(io.StringIO(response.content.decode("utf-8")))
        data['latitude'] = lat
        data['longitude'] = long
        data['city'] = city
        
        sdf = spark.createDataFrame(data)
        final_sdf = final_sdf.union(sdf)
    else:
        print(f"Error: {response.status_code}")

In [0]:
sorted_final_sdf = final_sdf.orderBy(["YEAR", "DOY"])

In [0]:
from pyspark.sql.functions import mean, col

mean_dict = {c: sorted_final_sdf.filter(col(c) != -999.0).select(mean(c)).first()[0] for c in sorted_final_sdf.columns}

In [0]:
from pyspark.sql.functions import when

for col_name in sorted_final_sdf.columns:
    if not col_name in ["YEAR", "DOY", "latitude", "lonitude", "City"]:
        sorted_final_sdf = sorted_final_sdf.withColumn(col_name, when(col(col_name) == -999.0, mean_dict[col_name]).otherwise(col(col_name)))

In [0]:
sorted_final_sdf.show(52)

+----+---+-----+------------------+-----+----------------+------+------------------+-----+------+------------------+-----------------+--------------+
|YEAR|DOY| T10M|         CLOUD_AMT|QV10M|              PW|    PS|GLOBAL_ILLUMINANCE|WS10M|EVLAND|          latitude|        longitude|          City|
+----+---+-----+------------------+-----+----------------+------+------------------+-----+------+------------------+-----------------+--------------+
|1981|  1|25.33|61.397109077810676|17.52|2.42996198174706|100.62| 34868.50815731391| 3.45| 41.21|          1.357107|      103.8194992|     Singapore|
|1981|  1| 0.34|61.397109077810676| 3.48|2.42996198174706| 99.45| 34868.50815731391| 5.73|  4.08|       47.48138955|19.14609412691246|      Budapest|
|1981|  1| 1.33|61.397109077810676| 3.54|2.42996198174706| 96.84| 34868.50815731391|10.81|  10.7|        50.0874654|       14.4212535|        Prague|
|1981|  1| 1.48|61.397109077810676| 3.72|2.42996198174706| 98.28| 34868.50815731391|11.64|  9.87|        52.2319581|       21.0067249|        Warsaw|
|1981|  1| 5.43|61.397109077810676|  4.7|2.42996198174706|102.13| 34868.50815731391|10.41| 16.04|        53.3498006|       -6.2602964|        Dublin|
|1981|  1| 0.78|61.397109077810676| 3.78|2.42996198174706| 96.71| 34868.50815731391| 5.52|  7.11|        60.1674881|       24.9427473|      Helsinki|
|1981|  1|-2.74|61.397109077810676| 2.99|2.42996198174706| 95.06| 34868.50815731391|  2.9|  11.7|        59.9133301|       10.7389701|          Oslo|
|1981|  1|-1.11|61.397109077810676| 3.23|2.42996198174706| 97.14| 34868.50815731391| 4.31| 10.92|        59.3251172|       18.0710935|     Stockholm|
|1981|  1| 0.35|61.397109077810676|  3.6|2.42996198174706| 95.81| 34868.50815731391| 7.55|  5.39|        47.3744489|        8.5410422|        Zurich|
|1981|  1| 2.62|61.397109077810676| 3.54|2.42996198174706|  96.9| 34868.50815731391| 7.03| 12.24|        48.2083537|       16.3725042|        Vienna|
|1981|  1| 4.52|61.397109077810676| 3.97|2.42996198174706|101.79| 34868.50815731391| 9.77| 13.91|        50.8465573|         4.351697|      Brussels|
|1981|  1| 4.82|61.397109077810676| 3.54|2.42996198174706|101.68| 34868.50815731391|13.59| 29.29|        52.3730796|        4.8924534|     Amsterdam|
|1981|  1| 8.85|61.397109077810676| 4.52|2.42996198174706|100.08| 34868.50815731391| 2.06|  7.65|        37.9839412|       23.7283052|        Athens|
|1981|  1| 8.37|61.397109077810676| 3.85|2.42996198174706| 99.36| 34868.50815731391| 3.42|  3.94|        41.3828939|        2.1774322|     Barcelona|
|1981|  1| 2.87|61.397109077810676| 3.54|2.42996198174706| 94.36| 34868.50815731391| 4.47|  4.62|        40.4167047|       -3.7035825|        Madrid|
|1981|  1| 5.52|61.397109077810676| 4.39|2.42996198174706|100.99| 34868.50815731391|  3.3|  6.33|        41.0091982|       28.9662187|      Istanbul|
|1981|  1|11.54|61.397109077810676| 5.19|2.42996198174706| 101.5| 34868.50815731391| 4.63|  8.23|        33.5945144|       -7.6200284|    Casablanca|
|1981|  1|26.65|61.397109077810676|17.03|2.42996198174706|100.73| 34868.50815731391| 2.09| 44.36|         6.4550575|        3.3941795|         Lagos|
|1981|  1| 19.2|61.397109077810676|10.38|2.42996198174706| 83.59| 34868.50815731391| 5.52| 17.71|        -1.2832533|       36.8172449|       Nairobi|
|1981|  1|22.02|61.397109077810676|12.57|2.42996198174706| 84.73| 34868.50815731391|  4.7| 74.29|           -26.205|        28.049722|  Johannesburg|
|1981|  1|11.72|61.397109077810676| 3.91|2.42996198174706| 99.87| 34868.50815731391| 2.41|  3.63|        30.0443879|       31.2357257|         Cairo|
|1981|  1|25.94|61.397109077810676|18.13|2.42996198174706| 100.7| 34868.50815731391| 4.52| 26.83|         -6.175247|      106.8270488|       Jakarta|
|1981|  1| 7.43|61.397109077810676| 4.52|2.42996198174706| 74.58| 34868.50815731391|  1.7| 10.02|        19.4326296|      -99.1331785|   Mexico City|
|1981|  1|17.36|61.397109077810676| 12.7|2.42996198174706| 82.25| 34868.50815731391| 1.91| 33.11|         4.6529539|      -74.0835643|        Bogota|
|1981|  1|17.53|61.397109077810676|10.62|2.42996198174706| 88.76| 34868.50815731391|  3.5|  1.98|       -12.0621065|      -77.0365256|          Lima|
|1981|  1|17.66|61.397109077810676| 12.7|2.42996198174706| 89.85| 34868.50815731391| 1.82| 52.41|         9.8694792|      -83.7980749|      Santiago|
|1981|  1|22.96|61.397109077810676|12.63|2.42996198174706|101.13| 34868.50815731391| 7.45| 50.73|       -34.6075682|      -58.4370894|  Buenos Aires|
|1981|  1|17.31|61.397109077810676| 9.16|2.42996198174706| 100.7| 34868.50815731391| 5.82| 25.65|        25.0375198|      121.5636796|        Taipei|
|1981|  1|15.62|61.397109077810676|  9.4|2.42996198174706| 100.8| 34868.50815731391| 2.24| 16.96|        21.0283207|      105.8540217|         Hanoi|
|1981|  1|22.84|61.397109077810676|14.95|2.42996198174706| 98.85| 34868.50815731391| 3.55|  51.6|        14.5948914|      120.9782618|        Manila|
|1981|  1|24.87|61.397109077810676|16.42|2.42996198174706| 98.29| 34868.50815731391|  1.3| 52.62|         3.1516964|      101.6942371|  Kuala Lumpur|
|1981|  1|24.87|61.397109077810676|11.47|2.42996198174706|101.05| 34868.50815731391| 2.59|  27.5|        13.7524938|      100.4935089|       Bangkok|
|1981|  1|-3.63|61.397109077810676|  2.5|2.42996198174706|100.32| 34868.50815731391| 9.34|  6.95|        37.5666791|      126.9782914|         Seoul|
|1981|  1| 5.69|61.397109077810676| 4.03|2.42996198174706| 99.51| 34868.50815731391| 1.17|  2.87|        41.8933203|       12.4829321|          Rome|
|1981|  1|  2.6|61.397109077810676| 3.91|2.42996198174706| 99.78| 34868.50815731391|12.63| 13.97|        52.5170365|       13.3888599|        Berlin|
|1981|  1|  4.3|61.397109077810676| 4.33|2.42996198174706|101.76| 34868.50815731391| 6.68|  5.99|        48.8534951|        2.3483915|         Paris|
|1981|  1|-8.01|61.397109077810676| 0.67|2.42996198174706|100.05| 34868.50815731391| 7.11|  3.65|        39.9057136|      116.3912972|       Beijing|
|1981|  1| 24.6|61.397109077810676| 9.77|2.42996198174706|100.13| 34868.50815731391| 3.73| 24.65|        19.0785451|        72.878176|        Mumbai|
|1981|  1|24.94|61.397109077810676|15.69|2.42996198174706|100.12| 34868.50815731391| 2.37| 65.28|       -22.9110137|      -43.2093727|Rio de Janeiro|
|1981|  1|11.98|61.397109077810676| 5.07|2.42996198174706|102.14| 34868.50815731391| 4.62|  7.96|          34.02236|       -6.8340222|         Rabat|
|1981|  1| 18.8|61.397109077810676|10.13|2.42996198174706|101.12| 34868.50815731391| 4.76|  16.2|        -33.928992|        18.417396|     Cape Town|
|1981|  1|21.73|61.397109077810676| 8.91|2.42996198174706|101.48| 34868.50815731391| 3.21|   0.4|25.074282349999997|55.18853865430702|         Dubai|
|1981|  1|17.62|61.397109077810676|  7.2|2.42996198174706|101.19| 34868.50815731391| 3.97|  13.2|        22.2793278|      114.1628131|     Hong Kong|
|1981|  1| 4.32|61.397109077810676| 3.17|2.42996198174706|101.39| 34868.50815731391| 2.55|  9.68|        35.6812665|       139.757653|         Tokyo|
|1981|  1| 0.43|61.397109077810676| 3.78|2.42996198174706| 96.36| 34868.50815731391| 9.38|  6.63|        55.7504461|       37.6174943|        Moscow|
|1981|  1|-4.56|61.397109077810676| 2.08|2.42996198174706| 99.85| 34868.50815731391| 4.84|  4.13|        43.6534817|      -79.3839347|       Toronto|
|1981|  1|23.26|61.397109077810676|12.27|2.42996198174706|101.11| 34868.50815731391| 3.66| 17.19|       -33.8698439|      151.2082848|        Sydney|
|1981|  1|  4.1|61.397109077810676| 4.09|2.42996198174706|101.72| 34868.50815731391| 8.28|  9.24|        51.5073359|         -0.12765|        London|
|1981|  1|17.44|61.397109077810676| 4.15|2.42996198174706| 97.21| 34868.50815731391| 2.61|   5.2|        34.0536909|      -118.242766|   Los Angeles|
|1981|  1|-2.53|61.397109077810676| 2.32|2.42996198174706|101.29| 34868.50815731391| 2.77|  4.15|        40.7127281|      -74.0060152|      New York|
|1981|  2| 0.38|61.397109077810676| 3.23|2.42996198174706| 99.36| 34868.50815731391|  7.4|   6.8|       47.48138955|19.14609412691246|      Budapest|
|1981|  2| 0.62|61.397109077810676| 3.48|2.42996198174706| 96.95| 34868.50815731391| 8.97|  7.14|        50.0874654|       14.4212535|        Prague|
+----+---+-----+------------------+-----+----------------+------+------------------+-----+------+------------------+-----------------+--------------+
only showing top 52 rows