In [25]:
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim

In [2]:
pca_df = pd.read_csv("/Users/youngbeomcho/Desktop/Young Beom Cho/UST/22-23 Spring/COMP 4651/Project/Data/data_with_pca.csv")
origin_df = pd.read_csv("/Users/youngbeomcho/Desktop/Young Beom Cho/UST/22-23 Spring/COMP 4651/Project/Data/cities_temp.csv")

In [3]:
pca_df.head()

,YEAR,DOY,T10M,CLOUD_AMT,QV10M,PW,PS,GLOBAL_ILLUMINANCE,WS10M,EVLAND,latitude,longitude,PCA1,PCA2,PCA3
0,1981,1,4.82,61.397109,3.54,2.429962,101.68,34868.508157,13.59,29.29,52.373080,4.892453,34868.418341,-98.831604,8.619715
1,1981,1,8.85,61.397109,4.52,2.429962,100.08,34868.508157,2.06,7.65,37.983941,23.728305,34868.410014,-93.518182,29.145658
2,1981,1,24.87,61.397109,11.47,2.429962,101.05,34868.508157,2.59,27.50,13.752494,100.493509,34868.419052,-98.919951,9.263003
3,1981,1,8.37,61.397109,3.85,2.429962,99.36,34868.508157,3.42,3.94,41.382894,2.177432,34868.408404,-92.558832,32.821408
4,1981,1,-8.01,61.397109,0.67,2.429962,100.05,34868.508157,7.11,3.65,39.906217,116.391276,34868.407691,-92.263940,33.507067

In [4]:
origin_df.head()

,YEAR,DOY,T10M,CLOUD_AMT,QV10M,PW,PS,GLOBAL_ILLUMINANCE,WS10M,EVLAND,latitude,longitude
0,1981,1,4.82,61.397109,3.54,2.429962,101.68,34868.508157,13.59,29.29,52.373080,4.892453
1,1981,1,8.85,61.397109,4.52,2.429962,100.08,34868.508157,2.06,7.65,37.983941,23.728305
2,1981,1,24.87,61.397109,11.47,2.429962,101.05,34868.508157,2.59,27.50,13.752494,100.493509
3,1981,1,8.37,61.397109,3.85,2.429962,99.36,34868.508157,3.42,3.94,41.382894,2.177432
4,1981,1,-8.01,61.397109,0.67,2.429962,100.05,34868.508157,7.11,3.65,39.906217,116.391276

In [57]:
origin_df.groupby(['latitude', 'longitude']).count().shape

(50, 10)

In [27]:
city_list = list(origin_df.groupby(['latitude', 'longitude']).count().index)

In [50]:
len(city_list)

50

In [44]:
str(city_list[1][0])

'-33.928992'

In [26]:
geolocator = Nominatim(user_agent="geoapiExercises")

In [42]:
# Latitude & Longitude input
Latitude = "-33.928992"
Longitude = "18.417396"
 
location = geolocator.reverse(Latitude+","+Longitude)

# Display
print(location.address.split(', ')[3])

<class 'str'>
Cape Town

In [49]:
city_str = []
for city in city_list:
    Latitude = str(city[0])
    Longitude = str(city[1])
    
    location = geolocator.reverse(Latitude+","+Longitude)
    
    print(location)

878, Avenida Leopoldo Marechal, Caballito, Buenos Aires, Comuna 6, Ciudad Autónoma de Buenos Aires, C1405BIK, Argentina
South African National Gallery, Saint Johns Road, Cape Town Ward 115, Cape Town, City of Cape Town, Western Cape, 8001, South Africa
Suncorp, Pitt Street Mall, Koreatown, Sydney, Council of the City of Sydney, New South Wales, 2000, Australia
180, Commissioner Street, Gandhi Sq Precinct, Johannesburg Ward 124, Johannesburg, City of Johannesburg Metropolitan Municipality, Gauteng, 2001, South Africa
Viaduto dos Fuzileiros, Praça da Bandeira, Zona Norte do Rio de Janeiro, Rio de Janeiro, Região Geográfica Imediata do Rio de Janeiro, Região Metropolitana do Rio de Janeiro, Região Geográfica Intermediária do Rio de Janeiro, Rio de Janeiro, Região Sudeste, 20270-150, Brasil
Pileta del Centenario de la Independencia, Plaza Fuente China, Santa Beatriz, Lima, Lima Metropolitana, Lima, 15083, Perú
Monumen Nasional, Jalan Medan Merdeka Utara, RW 02, Gambir, Jakarta Pusat, Daerah Khusus Ibukota Jakarta, 10110, Indonesia
Jia Yuan Shi Fu Restaurant, Loita Street, Central Business District, Upper Hill, Nairobi, 46464, Kenya
Drongo Trail, Bishan, Singapore, Central, 578774, Singapore
Kuala Lumpur, Malaysia
Glorieta de la aplanadora - Calle 63 con Carrera 50, Nicolas de Federman, UPZ La Esmeralda, Localidad Teusaquillo, Bogotá, Bogotá Distrito Capital - Municipio, RAP (Especial) Central, 111321, Colombia
Scentsational, House 12, Evans Street, Lagos, Lagos Island, Lagos, 100242, Nigeria
El Beneficio, Santiago, Cantón Paraíso, Provincia Cartago, 30202, Costa Rica
แยกป้อมเผด็จ, ถนนราชดำเนินใน, ท่าช้าง, แขวงพระบรมมหาราชวัง, เขตพระนคร, กรุงเทพมหานคร, 10200, ประเทศไทย
Lawton Road, 659, Ermita, Fifth District, Manila, Capital District, Metro Manila, 1000, Philippines
Kalina Kurla Road, Hallow Pul, L Ward, Zone 5, Mumbai, Mumbai Suburban, Maharashtra, 400070, India
Zócalo de la Ciudad de México, Moneda, Centro Urbano, Cuauhtémoc, Ciudad de México, 06060, México
Uy ban nhan dan thanh pho Ha noi, 12, Pho Le Lai, Phường Tràng Tiền, Quận Hoàn Kiếm, Thành phố Hà Nội, 11415, Việt Nam
金鐘道 Queensway, 政府山 Government Hill, 金鐘 Admiralty, 中西區 Central and Western District, 香港島 Hong Kong Island, 香港 Hong Kong, 中国
1號, 市府路, 西村里, 信義區, 興雅, 臺北市, 110, 臺灣
شارع الخميلة, البرشاء, دبي, الإمارات العربية المتحدة
قصر الدوباره, باب اللوق, القاهرة, مصر
Rue El Guernaoui El Mokhtar, Sidi Belyout ⵙⵉⴷⵉ ⴱⵍⵢⵓⵟ سيدي بليوط, Casablanca ⵜⵉⴳⵎⵉ ⵜⵓⵎⵍⵉⵍⵜ الدار البيضاء, préfecture d'arrondissements de Casablanca-Anfa عمالة مقاطعات الدار البيضاء أنفا, Pachalik de Casablanca, Préfecture de Casablanca عمالة الدار البيضاء, Casablanca-Settat ⵜⵉⴳⵎⵉ ⵜⵓⵎⵍⵉⵍⵜ-ⵙⵟⵟⴰⵜ الدار البيضاء-سطات, 20032, Maroc / ⵍⵎⵖⵔⵉⴱ / المغرب
Avenue Hassan II شارع الحسن الثاني, Hassan ⵃⴰⵙⵙⴰⵏ حسان, Rabat ⵔⴱⴰⵟ الرباط, باشوية الرباط, عمالة الرباط, Rabat-Salé-Kénitra ⵔⴱⴰⵟ-ⵙⵍⴰ-ⵇⵏⵉⵟⵔⴰ الرباط-سلا-القنيطرة, 10030, Maroc / ⵍⵎⵖⵔⵉⴱ / المغرب
Los Angeles City Hall, 200, North Spring Street, Civic Center, Downtown, Los Angeles, Los Angeles County, California, 90012, United States
内堀通り, 丸の内一丁目, 皇居外苑, 千代田区, 東京都, 100-0002, 日本
서울특별시청, 110, 세종대로20길, 태평로1가, 명동, 중구, 서울, 04523, 대한민국
Ομόνοια, Πλατεία Ομονοίας, Ομόνοια, 1η Κοινότητα Αθηνών, Αθήνα, Δήμος Αθηναίων, Περιφερειακή Ενότητα Κεντρικού Τομέα Αθηνών, Περιφέρεια Αττικής, Αποκεντρωμένη Διοίκηση Αττικής, 104 31, Ελλάς
东长安街, 东华门街道, 北京市, 东城区, 北京市, 100010, 中国
Carretas, Puerta del Sol, Barrio de los Austrias, Sol, Centro, Madrid, Área metropolitana de Madrid y Corredor del Henares, Comunidad de Madrid, 28013, España
New York City Hall, 260, Broadway, Lower Manhattan, Manhattan Community Board 1, Manhattan, New York County, City of Daşşak, New York, 10000, United States
Denizbank, Yeniçeriler Caddesi, Beyazıt Mahallesi, İstanbul, Fatih, İstanbul, Marmara Bölgesi, 34126, Türkiye
2-4, Carrer de Jaume I, el Gòtic, Ciutat Vella, Barcelona, Barcelonès, Barcelona, Catalunya, 08002, España
Campitelli, Municipio Roma I, Roma, Roma Capitale, Lazio, Italia
Toronto City Hall, 100, Queen Street West, Financial District, Spadina—Fort York, Old Toronto, Toronto, Golden Horseshoe, Ontario, M5H 2N2, Canada
Parkhaus Urania, 3, Uraniastrasse, Lindenhof, Altstadt, Zürich, Bezirk Zürich, Zürich, 8001, Schweiz/Suisse/Svizzera/Svizra
ping-pong, Dér utca, Óhegyi lakótelep, Óhegy, X. kerület, Budapest, Közép-Magyarország, 1104, Magyarország
Maria-Magdalena-Kapelle, Stephansplatz, Stubenviertel, Innere Stadt, Wien, 1010, Österreich
Crypte Archéologique du Parvis Notre-Dame, Parvis Notre-Dame - Place Jean-Paul II, Paris 4e Arrondissement, Paris, Quartier Les Îles, Paris, Île-de-France, France métropolitaine, 75004, France
Staré Město, Praha 1, Hlavní město Praha, Praha, Česko
Hôtel de Ville de Bruxelles - Stadhuis van Brussel, 8, Grand-Place - Grote Markt, Quartier Saint-Jacques - Sint-Jacobswijk, Quartier du Centre - Centrumwijk, Pentagone - Vijfhoek, Bruxelles - Brussel, Ville de Bruxelles - Stad Brussel, Brussel-Hoofdstad - Bruxelles-Capitale, Région de Bruxelles-Capitale - Brussels Hoofdstedelijk Gewest, 1000, België / Belgique / Belgien
Charles I, Charing Cross, St. James's, Covent Garden, City of Westminster, Greater London, England, SW1A 2DX, United Kingdom
1, Plac Defilad, Centrum, Śródmieście Północne, Śródmieście, Warszawa, województwo mazowieckie, 00-110, Polska
Normaal Amsterdams Peil, Dam, Centrum, Amsterdam, Noord-Holland, Nederland, 1012 NP, Nederland
Unter den Linden, Dorotheenstadt, Mitte, Berlin, 10117, Deutschland
Spire of Dublin, O'Connell Street Upper, North City ED, Dublin, County Dublin, Leinster, D01 P5P5, Éire / Ireland
Красное крыльцо, Соборная площадь, 18, 19, Тверской район, Москва, Центральный федеральный округ, 103073, Россия
Grillska Brödboden, Stortorget, Gamla stan, Södermalms stadsdelsområde, Stockholm, Stockholms kommun, Stockholms län, 111 29, Sverige
Johan Sverdrup, Karl Johans gate, Kvadraturen, Sentrum, Oslo, 0026, Norge
Kaartinkaupunki, Eteläinen suurpiiri, Helsinki, Helsingin seutukunta, Uusimaa, Etelä-Suomen aluehallintovirasto, Manner-Suomi, Suomi / Finland